<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  <property>
    <name>fs.defaultFS</name>
{% if groups['hadoop-namenodes']|count > 1 %}
    <value>hdfs://{{ cluster_name }}</value>
{% else %}
    <value>hdfs://{{ groups['hadoop-namenodes'][0] }}:9000</value>
{% endif %}
  </property>

{% if groups['hadoop-namenodes']|count > 1 %}
  <property>
    <name>ha.zookeeper.quorum</name>
    <value>{% for item in groups['zookeepernodes'] -%}
              {{ item }}:2181{% if not loop.last %},{% endif %}
           {%- endfor %}</value>
  </property>
{% endif %}
 
</configuration>
